{
    "presets": [
        [
            "@babel/env", {
                "targets": [
                    "last 5 versions",
                    "ie >= 8"
                ],
                "useBuiltIns": "usage"
            }
        ]
    ]
}